@font-face {
    font-family: Ubuntu;
    src: url('../fonts/ubuntu/Ubuntu-Medium.ttf');
    src: url('../fonts/ubuntu/Ubuntu-Italic.ttf');
}
/*@font-face {*/
    /*font-family: PT Serif;*/
    /*src: url('../fonts/PT%20Serif/PT_Serif-Web-Italic.ttf');*/
    /*src: url('../fonts/PT%20Serif/PT_Serif-Web-Bold.ttf')*/
/*}*/
body {
    background: url("../img/background.jpg");
}
* {
    margin: 0;
    padding: 0;
}
header {
    margin: 0 auto;
    width: 100%;
}

.wrapper_top {
    display: block;
    width: 940px;
    margin: 0 auto;
}
.right_part {
    float: right;
    display: inline-block;
    height: 80px;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 80px;
}
.first_line {
    font-size: 35px;
    color: #01a5ca;
    text-shadow: 2px 5px 2px #62d3ed;
}
.first_line a {
    color: #01a5ca;
    text-decoration: none;
}
.second_line {
    line-height: 0.7;
    font-size: 35px;
}
.second_line a {
    text-decoration: none;
    color: black;
}
.navigation {
    display: inline-block;
    width: 680px;
    height: 25px;

}
.menu {
    float: right;
    /*margin-top: 5px;*/
}
.right_side_link a{
    margin-right: 25px;
    color:#bb122a ;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
    font-variant: small-caps;
    font-size: 18px;
    font-family: PT Serif, serif, bold;

}

.menu a {
    color: #333333;
    text-decoration: none;
}
.element a:hover {
    color: #01a5ca ;
}
.navigation a.active {
    color: #01a5ca;
}
.navigation a.target_link {
    color: #bb122a;
}
/*-----------------------------------FEEDBACK_FORM_----------------------------------------------------------------*/
#feedback-form {
    max-width: 400px;
    padding: 2%;
    border-radius: 3px;
    background: #f1f1f1;
    margin: 10px 0 0 140px;
}
#feedback-form [required] {
    width: 100%;
    box-sizing: border-box;
    margin: 2px 0 2% 0;
    padding: 2%;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 transparent;
}
#feedback-form [required]:hover {
    border-color: #7eb4ea;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 transparent;
}
#feedback-form [required]:focus {
    outline: none;
    border-color: #7eb4ea;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 4px rgba(35,146,243,.5);
    transition: .2s linear;
}
#feedback-form [type="submit"] {
    padding: 2%;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
    background: #669acc;
    color: #fff;
}
#feedback-form [type="submit"]:hover {
    background: #5c90c2;
}
#feedback-form [type="submit"]:focus {
    box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
/*-----------------------------FEEDBACK_FORM_----------------------------------------*/
.social_icons {
    float: right;
    margin-top: 10px;
    vertical-align: top;
    width: 100px;
    height: 40px;

}
.youtube {
    display: inline-block;
    background: url("../img/social_icons/y-black.png")no-repeat ;
    height: 36px;
    width: 36px;
}
.youtube:hover {
    display: inline-block;
    background: url("../img/social_icons/y-red.png") no-repeat;
    height: 36px;
    width: 36px;
}
.vk {
    display: inline-block;
    background: url("../img/social_icons/vk-black.png") no-repeat;
    height: 36px;
    width: 36px;
}
.vk:hover {
    display: inline-block;
    background: url("../img/social_icons/vk-blue.png") no-repeat;
    height: 36px;
    width: 36px;
}
.clearfix {
    clear: both;
}
.wrapper_middle {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 940px;
    height: 415px;
    font-size: 0;
}
/*-----------------------------SLIDER--------------------------*/
.slider_top {
    display: inline-block;
    width: 640px;
    height: 415px;
}
.slider_top .slick-prev {
    left: 0;
    z-index: 10;
}

.slider_top .slick-next {
    right: 0;
    z-index: 100;

}

.slider_top .slick-prev:before {
    display: block;
    margin-top: 160px;
    content: '';
    width: 30px;
    height: 57px;
    background: #fff url("../img/arrows/left-arrow.png") center center no-repeat;
}

.slider_top .slick-next:before {
    display: block;
    margin-top: 160px;
    margin-left: -10px;
    content: '';
    width: 30px;
    height: 57px;
    background: #ffffff url("../img/arrows/right-arrow.png") center center no-repeat;
}
.slider_top .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
    bottom: -55px;
}

.slider_top .slick-dots li button:before {
    font-size: 13px;
}

.slider_top .slick-dots {
    bottom: 5px;
}
.slider_top .slick-slider {
    display: inline-block;
}
.slider_top .slick-prev:before, .slick-next:before {
    opacity:1;
}
/*------------------------------------------------------------------------------*/
.text_right_part {
    display: inline-block;
    vertical-align: top;
    width: 290px;
    height: 415px;
    background: #292929;
}
.name_programm {
    padding: 10px 5px 10px 15px ;
    font-size: 36px;
    color: #01a5ca;
    line-height: 0.8;
}
.discribe_programm {
    padding: 5px 5px 0 15px;
    font-size: 16px;
    color: #949494;
    text-indent: 5%;
    text-align: justify;
}
.order_of_programm {
    font-size: 16px;
    padding: 5px 5px 0 29px;
    color: #949494;
    text-align: justify;
}
.programm_button {
    display: inline-block;
    width: 133px;
    height: 43px;
    cursor: pointer;
    background: #01a5ca;
    margin: 10px 0 0 50px;
    border-bottom: solid 3px #14748a;
    border-radius: 4px
}
.programm_button:hover {
    background:#14748a ;
}
.programm_button_text {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color:#ffffff;
    margin: 15px 0 0 35px;
    /*padding: 20px 10px 0 20px   ;*/
}
.about_programm {
    display: block;
    width: 900px;
    font-size: 16px;
    margin: 0 auto;
    height: auto;
    margin-top: 25px;
    padding: 15px 15px 15px 15px;
    background: #ffffff;
    color: #3f3f3f;
    text-indent: 5%;
    /*font-family: PT Serif, serif, normal ;*/
}
.about_programm_list {
    margin-left: 30px;
    color: #3f3f3f
}
.wrapper_down {
    display: block;
    width: 930px;
    height: auto;
    margin:0 auto;
    margin-top: 20px;
    background: #fff;
}
.title_last_event {
    display: block;
    color:#01a5ca;
    font-size: 24px;
    padding: 15px 0 0 25px;
}
.contacts {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.title_contacts {
    color:#01a5ca ;
    font-size: 18px;
    margin-bottom: 10px;
}
.title_contacts span {
    color:black;
}
.title_last_event span {
    color:black;
}
.contacts_phone span {
    color:#01a5ca ;
}
.contact_e-mail a {
    text-decoration: none;
    color: black;
}
.contact_e-mail span {
    color:#01a5ca ;
}
.contsct_else {
    margin-top: 10px;
}
.contsct_else a {
    text-decoration: none;
    color: #01a5ca;
    font-weight: bold;
}
.event_time {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    height: 15px;
    color: #949494;
}
.event {
    display: inline-block;
    margin: 15px 10px 15px 25px;
    height:auto ;
    width:660px;
    font-size: 0;
}
.event_text  {
    display: inline-block;
    width: 400px;
    height: auto;
    font-size: 16px;
    text-indent: 5%;
    text-align: justify;
    margin-left: 10px;
    color: #3f3f3f;
}
.thumbnail-img {
    display: inline-block;
}
.thumbnail-img img {
    width:100px;
    height: auto;
}
.event iframe {
    vertical-align: top;
    margin-bottom: 10px;
}
.description_event {
    width:100%;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 7px;

}
footer {
   display: block;
    width: 100%;
    height: 40px;
    background: #3f3f3f;
    color: #ffffff;
}
.footer_text {
    display: block;
    font-size: 14px;
    width: 50px;
    height: 25px;
    padding-top: 15px;
    margin: 0 auto;


}
.footer_text1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;


}
.contact_info {
    display: block;
    width: 950px;
    min-height: 90%;
    margin: 0 auto;
    background: #ffffff;
    margin-top: 15px;
    padding: 15px 15px 15px 15px;
    color: #3f3f3f;
}
.info_img   {
    float: right;
    width: 300px;
    height: 300px;
    background: url("../img/info.jpg");
}
.contact_info_text {
    display: block;
    color: #3f3f3f;
}
.contact_info span {
    color:#01a5ca;
}
.contact_info  a {
    text-decoration: none;
    color:#01a5ca;

}
.wrapper_top {
    min-height: 100%;
}
html,
body {
    height: 100%;
}
/*----------------------developing------------------------*/
.developing_page {
    display: block;
    min-height: 100%;
    width: 950px;
    margin: 0 auto;
    color: red;
    margin-top: 20px;
    text-align: center;
}
.razrabotka_img {
    display: block;
    width: 473px;
    height: 375px;
    background: url("../img/razrabotka.png") no-repeat;
    margin: 0 auto;
}
#top {
    margin-right: 30px;
    bottom: 450px;
    cursor: pointer;
    display: none;
    font-size: 150%;
    position: fixed;
    right: 0;
}


.more_info {
cursor: pointer;
color: #ffffff;
background: #01a5ca;
padding: 2px 4px  2px 4px;
margin-left: 260px;
text-decoration: none;
}
.stream{
    border: 0;
}
.more_info_back {

cursor: pointer;
color: #ffffff;
background: #01a5ca;
padding: 2px 4px  2px 4px;
margin-left: 337px;
}

.test {
    display: none;

    width: 400px;
    height: auto;
    font-size: 16px;
    text-indent: 5%;
    text-align: justify;
    margin-left: 10px;
    color: #3f3f3f;
}
.event a {
    display: inline-block;
    text-decoration: none;
    color: black;

}
.event a:hover {
    background: #14748a;
}
/*---------------------ABOUT--------------------*/
.about_wrapper {
    display: block;
    min-height: 100%;
    width: 950px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background: #fff;
}
.first_title {
   float: left;
    width: 600px;
    text-indent: 5%;
    text-align: justify;
    font-size: 16px;
    color: #2f3237;
    padding: 35px 10px;
}
.about_list {
    padding: 0 30px 10px 30px;
    text-align: left;

}
.about_list li {
    /*margin-top: 0px;*/
    color: #01a5ca;
}
.text_list {
    color: #2f3237;
}
.law {
    text-decoration: none;
    color: #01a5ca;
}
.law1 {
    text-decoration: none;
    color: #01a5ca;
}
.law2 {
    text-decoration: none;
    color: #01a5ca;
}
.law4 {
    text-decoration: none;
    color: #01a5ca;
}
.law5 {
    text-decoration: none;
    color: #01a5ca;
}
.law6 {
    text-decoration: none;
    color: #01a5ca;
}
.law:hover  {

}
.appear_law {
    display: none;
    color:  #14748a;
    margin-top: 20px;
    position: absolute;
    width: 560px;
    height: 250px;
    background: #ffffff;
    border: 2px solid #01a5ca;
    border-radius: 5px ;
    padding: 7px 7px;
}
.download_links {
    display: block;
    margin: 15px 5px 15px 5px;
    border: 2px solid #01a5ca;
    border-radius: 5px;
}
.download_text {
    display: block;
    font-weight: bold;
    color: #01a5ca;
    margin: 10px 0 0 0 ;
}
.kku {
    display: inline-block;
    background:#01a5ca ;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    color: #ffffff;
    border-bottom: 3px #14748a;
    margin: 15px 15px 15px 0;
}
.kku:hover {
    background:#14748a ;
}
.kpku {
    display: inline-block;
    background:#01a5ca ;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    color: #ffffff;
    border-bottom: 3px #14748a;
    margin: 15px 0 15px 0;
}
.kpku:hover {
    background: #14748a;
}
.last_title {
    text-indent: 5%;
    text-align: justify;
    font-size: 16px;
    color: #2f3237;
    padding: 10px 10px;
}
.last_list {
    text-align: left;
    font-size: 16px;
    color: #2f3237;
    padding: 10px 40px;
}
.last_last_title {
    text-indent: 5%;
    text-align: justify;
    font-size: 16px;
    color: #2f3237;
    padding: 10px 10px;
}
.about_img {
    display: inline-block;
    margin: 10px 10px 0 5px;

}
.appear_law1 {
    display: none;
    position: absolute;
    color:  #14748a;
    margin-top: 20px;
    width: 560px;
    height: auto;
    background: #ffffff;
    border: 2px solid #01a5ca;
    border-radius: 5px ;
    padding: 7px 7px;
}
.appear_law2 {
    display: none;
    position: absolute;
    color:  #14748a;
    margin-top: 20px;
    width: 560px;
    height: auto;
    background: #ffffff;
    border: 2px solid #01a5ca;
    border-radius: 5px ;
    padding: 7px 7px;
}
.appear_law4 {
    display: none;
    position: absolute;
    color:  #14748a;
    margin-top: 20px;
    width: 560px;
    height: auto;
    background: #ffffff;
    border: 2px solid #01a5ca;
    border-radius: 5px ;
    padding: 7px 7px;
}
.appear_law5 {
    display: none;
    position: absolute;
    color:  #14748a;
    margin-top: 20px;
    width: 560px;
    height: auto;
    background: #ffffff;
    border: 2px solid #01a5ca;
    border-radius: 5px ;
    padding: 7px 7px;
}
.appear_law6 {
    display: none;
    position: absolute;
    color:  #14748a;
    margin-top: 20px;
    width: 560px;
    height: auto;
    background: #ffffff;
    border: 2px solid #01a5ca;
    border-radius: 5px ;
    padding: 7px 7px;
}